<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">{{ book.rating }}</span>

        <!-- <ng-container>{{ '⭐️'.repeat(book.rating) }}</ng-container> -->
        <ng-container *ngFor="let s of starCount">⭐️</ng-container>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <!---
    TODO / ACHTUNG / REFACTOR-ME / BAD PRACTICE

    1. Gegen Single Responsibility verstoßen
    2. Keine Logik im Template
    3. Pseudo-Immutable Objekte mutiert
    4. Potentiell schlechte Performance (default change detection)
    -->

    <button class="btn btn-secondary me-2" (click)="book.rating = book.rating - 1">-</button>
    <button class="btn btn-primary" (click)="book.rating = book.rating + 1">+</button>
  </div>
</div>
